<!DOCTYPE html>
<html>
<head>
    <title>Robot Control</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex flex-col justify-center items-center w-full h-screen">
<form method="POST" action="/" class="w-80">
    <h1>Robot Control Interface</h1>
    <div class="flex flex-row items-end gap-1 mt-2">
        <div>
            <button type="submit" name="button" value="left"
                    class="control-button w-24 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Left
            </button>
        </div>
        <div class="flex flex-col gap-1">
            <button type="submit" name="button" value="forward"
                    class="control-button w-24 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Forward
            </button>
            <button type="submit" name="button" value="backward"
                    class="control-button w-24 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Backward
            </button>
        </div>
        <div>
            <button type="submit" name="button" value="right"
                    class="control-button w-24 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Right
            </button>
        </div>
        <div class="flex flex-col gap-1">
            <button type="submit" name="button" value="stop"
                    class="control-button w-24 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Stop
            </button>
        </div>
    </div>
    <div class="mt-2">
        <label for="speed">Speed:</label>
        <input type="range" id="speed" name="speed" min="0" max="100" value="100" step="10"
               class="appearance-none w-full h-3 bg-gray-200 rounded-full outline-none">
    </div>
</form>
<script>
    function click_handler(event) {
        event.preventDefault();

        // $.post("/", {
        //     "button": this.value,
        //     "speed": document.getElementById('speed').value,
        // }, function (data) {
        //     console.log(data)
        // }, "json")

        // const data = new FormData();
        // data.append("button", this.value);
        // data.append("speed", document.getElementById('speed').value);

        const data = {
            "button": this.value,
            "speed": document.getElementById('speed').value,
        }

        const options = {
            method: 'POST',
            body: JSON.stringify(data),
            headers: {
                'Content-Type': 'application/json'
            }
        };
        fetch("/", options)
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Error: ' + response.status);
                }
            })
            .then(data => {
                // Handle the response data
                console.log(data);
            })
            .catch(error => {
                // Handle any errors
                console.error(error);
            });
    }

    document.addEventListener('DOMContentLoaded', function () {
        // Function to handle button clicks
        const buttons = document.getElementsByClassName('control-button');
        for (let i = 0; i < buttons.length; i++) {
            buttons[i].addEventListener('click', click_handler);
        }
    });
</script>
</body>
</html>
